article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video{display: inline-block;}
audio:not([controls]){display: none;height:0;}
[hidden],template{display: none;}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
a{background: transparent;}
a:focus{outline: thin dotted;}
a:active,a:hover{outline:0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
dfn{font-style: italic;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;border:none;clear:both;}
mark{background:#ff0;color:#000;}
code,kbd,pre,samp{font-family: monospace,serif;font-size:1em;}
pre{white-space: pre-wrap;}
q{quotes: "\201C" "\201D" "\2018" "\2019";}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position: relative;vertical-align:baseline;}
sup{top: -0.5em;}
sub{bottom: -0.25em;}
img{border:0;}
svg:not(:root){overflow: hidden;}
figure{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;}
button,input,select,textarea{font-family: inherit;font-size:100%;margin:0;outline:0;}
button,input{line-height: normal;}
button,select{text-transform: none;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default;}
input[type="text"]:hover,input[type="text"]:focus,input[type="text"]:active{border:1px solid #CCC;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance: textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance: none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align: top;}
table{border-collapse:collapse;border-spacing:0;}
body,div,ol,ul,li,h1,h2,h3,h4,h5,h6,p,span,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0 auto;padding:0;border:0;}

/* Animated */
.animated{ -webkit-animation-duration:0.5s; animation-duration:0.5s; -webkit-animation-fill-mode:both; animation-fill-mode:both;}
@-webkit-keyframes fadeInDown{ 0%{ opacity:0; -webkit-transform:translateY(-20px); transform:translateY(-20px);} 100%{ opacity:1; -webkit-transform:translateY(0); transform:translateY(0);}}
@keyframes fadeInDown{ 0%{ opacity:0; -webkit-transform:translateY(-20px); -ms-transform:translateY(-20px); transform:translateY(-20px);} 100%{ opacity:1; -webkit-transform:translateY(0); -ms-transform:translateY(0); transform:translateY(0);}}
.fadeInDown{ -webkit-animation-name:fadeInDown; animation-name:fadeInDown;}
@-webkit-keyframes fadeInUp{ 0%{ opacity:0; -webkit-transform:translateY(20px); transform:translateY(20px);} 100%{ opacity:1; -webkit-transform:translateY(0); transform:translateY(0);}}
@keyframes fadeInUp{ 0%{ opacity:0; -webkit-transform:translateY(20px); -ms-transform:translateY(20px); transform:translateY(20px);} 100%{ opacity:1; -webkit-transform:translateY(0); -ms-transform: translateY(0); transform:translateY(0);}}
.fadeInUp{ -webkit-animation-name: fadeInUp; animation-name: fadeInUp;}
@-webkit-keyframes fadeInLeft{ 0%{ opacity:0; -webkit-transform:translateX(-20px); transform:translateX(-20px);} 100%{ opacity:1; -webkit-transform:translateX(0); transform:translateX(0);}}
@keyframes fadeInLeft{ 0%{ opacity:0; -webkit-transform:translateX(-20px); -ms-transform:translateX(-20px); transform:translateX(-20px);} 100%{ opacity: 1; -webkit-transform:translateX(0); -ms-transform:translateX(0); transform:translateX(0);}}
.fadeInLeft{ -webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;}

/* Global */
body{ color:#444; background:#fff; font:12px/24px "Microsoft Yahei",Verdana,Tahoma,Arial,Helvetica,Sans-Serif;}
ul,ol,li{list-style:none;}
table,td,th,input{ font-size:12px;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
h1{font-size:28px;}
h2{font-size:18px;}
h3{font-size:16px;}
h4{font-size:14px;}
h5,h6 {font-size:12px;}

.inner{ width:1100px; overflow:hidden;}
.clearfix{clear:both;font-size:1px;width:1px;height:0;visibility:hidden;margin-top:0px!important;*margin-top:-1px;line-height:0}
.radius{ border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.fadein{ transition:0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out;}
.opacity{ filter:alpha(opacity=60); -moz-opacity:0.6; opacity:0.6;}

.folio-thumb img{ width:100%; -webkit-backface-visibility:hidden; -moz-backface-visibility:hidden; -ms-backface-visibility:hidden; backface-visibility:hidden; -webkit-transition-duration:0.7s; -moz-transition-duration:0.7s; -ms-transition-duration:0.7s; -o-transition-duration:0.7s;}
.folio-thumb:hover img{ -webkit-transform:scale(1.2); -moz-transform:scale(1.2); -o-transform:scale(1.2); -ms-transform:scale(1.2);}
.folio-thumb .opacity-pic{ width:100%; height:100%; position:absolute; top:0; left:0; cursor:pointer; -moz-opacity:0; -khtml-opacity:0; opacity:0; filter:alpha(opacity=0); _display:none;}
.folio-thumb:hover .opacity-pic{ background:#000; -moz-opacity:0.4; -khtml-opacity:0.4; opacity:0.4; filter:alpha(opacity=40); -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -ms-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease;}
.mediaholder{ overflow:hidden;}

a:link, a:visited{ color:#444; outline:0; text-decoration:none;}
a:hover{ color:#ef8503; text-decoration:underline;}

.body-hp{ background:url(images/bg-hp.jpg) no-repeat center 96px;}

/* TopBar */
.topbar{ overflow:hidden;}
.flags{ float:right; overflow:hidden;}
.flags a{ margin-left:15px; width:38px; height:24px; text-indent:-9999px; background-image:url(images/icon-flag.png); background-repeat:no-repeat; display:inline-block;}
.flags a#f-cn{ background-position:0 0;}
.flags a#f-en{ background-position:-56px 0;}

/* Header */
.header{ padding:12px 0 15px; border-bottom:4px solid #009fe9; background:#f4f4f4 url(images/bg-header.png) repeat-x 0 bottom; clear:both; *position:relative; *z-index:1;/* IE6,7è§£å†³ä¸‹æ‹‰èœå•è¢«å¹»ç¯ç‰‡é®ä½é—®é¢˜*/}
.header .inner{ height:66px; overflow:visible;}
.header img{ display:block;}
.logo{ float:left;}
.rtbox{ float:right;}

/* MainMenu */
#mobile-nav{ display:none;}
.main-menu{ float:right; margin-right:-10px; height:57px; line-height:57px; font-size:16px; color:#666; position:relative; overflow:visible;}
.main-menu .inner{ overflow:visible;}
.navi{ position:relative; z-index:9999;}
.navi li{ float:left; padding:0 10px; text-transform:uppercase; white-space:nowrap; position:relative;}
.navi li a:link, .navi li a:visited{ padding:0 12px; color:#666; display:block;}
.navi li a:hover{ color:#009fe9; text-decoration:none;}
.navi li.current-menu-item a:link, .navi li.current-menu-item a:visited, .navi li.current-post-parent a, .navi li.current-post-ancestor a, .navi li.current-menu-parent a, .navi li.current-category-ancestor a, .navi li:hover a{ color:#009fe9;}

.ul-div{ position:absolute; top:47px; left:-40%; text-align:center; z-index:9999; width:200px; display:none;}
.ul-div i{ position:relative; top:4px; left:45%; width:17px; height:10px; line-height:10px; font-size:0; background:url(images/menu.png) no-repeat 0 0; display:block;}
.navi li ul{ width:100%; border-top:4px solid #009fe9; background:#fff; -moz-border-radius-bottomleft:3px; -webkit-border-bottom-left-radius:3px; border-bottom-left-radius:3px; -moz-border-radius-bottomright:3px; -webkit-border-bottom-right-radius:3px; border-bottom-right-radius:3px; -moz-box-shadow:3px 3px 6px rgba(0,0,0,0.1),-3px 3px 6px rgba(0,0,0,0.1); -webkit-box-shadow:3px 3px 6px rgba(0,0,0,0.1),-3px 3px 6px rgba(0,0,0,0.1); box-shadow:3px 3px 6px rgba(0,0,0,0.1),-3px 3px 6px rgba(0,0,0,0.1);}
.navi li ul li{ float:none; padding:0; line-height:38px; font-size:13px; border-left:1px solid #d8d8d8; border-right:1px solid #d8d8d8; border-bottom:1px solid #eee; background:#fff;}

.navi li ul li a:link, .navi li ul li a:visited{ padding:0 24px; height:38px; color:#666;}
.navi li.current-menu-item ul li a:link, .navi li.current-menu-item ul li a:visited, .navi li.current-menu-item ul li a:hover, .navi li.current-post-parent ul li a, .navi li.current-post-ancestor ul li a, .navi li.current-menu-parent ul li a, .navi li.current-category-ancestor ul li a{ color:#666; background:none;}
.navi li ul li.menu-item-has-children a{ padding:0 25px; height:38px; color:#666; background:url(images/menu.png) no-repeat right -14px;}
.navi li ul li a:hover, .navi li.current-menu-item ul li a:hover, .navi li.current-post-ancestor ul li a:hover, .navi li.current-menu-parent ul li a:hover, .navi li.current-category-ancestor ul li a:hover, .navi li:hover ul li a:hover{ border:none; color:#009fe9; background:#f6f6f6;}

.navi li:hover a{ color:#009fe9;}
.navi li:hover ul li a{ background:none;}
.navi li:hover ul li.menu-item-has-children a{ background:url(images/menu.png) no-repeat right -14px;}
.navi li.current-menu-parent ul li.current-menu-item a{ color:#009fe9; background-color:#f6f6f6;}

.navi li ul li .ul-div{ position:absolute; top:-2px; left:198px; padding:0; background:#fff;}
.navi li ul li .ul-div i{ display:none;}
.navi li ul li .ul-div ul{ border-top-width:2px; -moz-box-shadow:3px 3px 6px rgba(0,0,0,0.1); -webkit-box-shadow:3px 3px 6px rgba(0,0,0,0.1); box-shadow:3px 3px 6px rgba(0,0,0,0.1);}

.navi li ul li.menu-item-has-children:hover a{ color:#009fe9; background:#f6f6f6 url(images/menu.png) no-repeat right -58px;}
.navi li ul li.menu-item-has-children:hover ul li a{ color:#333; background:#fff;}
.navi li ul li.menu-item-has-children:hover ul li a:hover{ color:#009fe9; background-color:#f6f6f6;}
.navi li:hover ul li.menu-item-has-children ul li a{ background:none;}

#product-box{ width:500px; left:auto;}
#product-box i{ left:21%;}
.product-menu{ padding:25px 15px 5px; width:470px; border-top:4px solid #009fe9; background:#fff; overflow:hidden; -moz-border-radius-bottomleft:3px; -webkit-border-bottom-left-radius:3px; border-bottom-left-radius:3px; -moz-border-radius-bottomright:3px; -webkit-border-bottom-right-radius:3px; border-bottom-right-radius:3px; -moz-box-shadow:3px 3px 6px rgba(0,0,0,0.1),-3px 3px 6px rgba(0,0,0,0.1); -webkit-box-shadow:3px 3px 6px rgba(0,0,0,0.1),-3px 3px 6px rgba(0,0,0,0.1); box-shadow:3px 3px 6px rgba(0,0,0,0.1),-3px 3px 6px rgba(0,0,0,0.1);}
.product-menu table{ width:100% !important; height:auto !important;}
.product-menu div{ float:left; margin-bottom:16px; padding:0 1.6665%; width:30%; height:165px; line-height:24px; overflow:hidden;}
.product-menu img{ float:left; padding:10px 15px 6px; width:120px; height:120px;}
.product-menu h3{ font-size:14px; text-align:center; clear:both;}

.pinned{ margin:0 auto; position:fixed; top:0; z-index:99999; _position:absolute; _top:expression(eval(document.documentElement.scrollTop)); -moz-border-radius-topleft:0; -webkit-border-top-left-radius:0; border-top-left-radius:0; -moz-border-radius-topright:0; -webkit-border-top-right-radius:0; border-top-right-radius:0;}

.toggle-search{ overflow:visible;}
.btn-search{ width:50px; height:42px; background:url(images/search.png) no-repeat center 13px; display:inline-block; cursor:pointer; position:absolute; top:0; right:2px; z-index:99999;}
.btn-search:hover, .toggle-search .active{ filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5;}
.toggle-search .search-box{ padding:14px 0; width:100%; border-top:2px solid #ef8503; background:#e4e4e4; display:none; position:relative; top:0; left:0; z-index:99;}
.toggle-search #searchform{ float:none; margin:0 20%; padding:0; width:60%; height:auto; background:none; position:relative;}
.toggle-search #searchform #ls{ padding:8px 3%; width:94%; line-height:24px; border:1px solid #d2d2d2; background:#fff; border-radius:50px; -moz-border-radius:50px; -webkit-border-radius:50px;}
.toggle-search #searchform #searchsubmit{ padding:0; width:68px; height:100%; text-indent:-9999px; background:#ef8503 url(images/icon-mo.png) no-repeat center -28px; position:absolute; right:0; top:0; border-radius:50px; -moz-border-radius:50px; -webkit-border-radius:50px;}

/* Banner */
.banner{ text-align:center; background:#EEE; overflow:hidden; position:relative;}
.banner img{ width:100%; display:block;}

/* Container */
.container{ padding:35px 0 40px; overflow:visible; clear:both;}
.container-hp{ padding:10px 0 40px;}
.column-fluid{ float:right; width:100%;}

/* Content */
.content{ margin-left:305px; overflow:hidden;}
.fullwidth{ margin:0 auto; width:100%;}

/* HomeColumn */
.row-fluid{ padding:40px 0 0; overflow:hidden;}
.row-fluid h2{ margin-bottom:20px; height:32px; text-transform:uppercase; font-size:16px; border-bottom:1px solid #e6e6e6; color:#222;}
.row-fluid h2 a:link, .row-fluid h2 a:visited{ color:#222;}
.row-fluid h2 a:hover{ color:#009fe9; text-decoration:none;}
.row-fluid h2 i{ line-height:32px; border-bottom:1px solid #009fe9; font-style:normal; text-align:left; display:inline-block;}
.row-fluid h2 em{ padding-left:15px; font-size:14px; color:#ccc;}
.row-fluid h2 span a{ float:right; *margin-top:-45px; width:36px; height:30px; text-indent:-9999px; background:url(images/icon.gif) no-repeat 0 -104px; display:block;}

/* FeaturedProducts */
.col-md-3 div{ float:left; padding:0 2%; *padding:0 1.4%; width:29.33%; height:auto; text-align:center; overflow:hidden;}
.col-md-3 div h2{ margin-bottom:15px; height:auto; font-size:22px; font-family:Verdana; text-transform:none; border:none;}
.col-md-3 div img{ max-width:100%; height:auto;}
.col-md-3 div h3, .col-md-3 div h4{ margin:10px auto 15px; width:100%; height:24px; font-size:20px; color:#009fe9; overflow:hidden;}
.col-md-3 div p{ line-height:26px; font-size:13px; color:#666;}
.col-md-3 div em, .col-md-3 div i, .col-md-3 div span{ float:left; width:140px; text-align:right; font-style:normal; color:#777; display:inline-block;}
.col-md-3 div ul{ margin:25px auto 12px; padding:20px 0; border-top:1px solid #e8e8e8; overflow:hidden; display:none;}
.col-md-3 div ul li{ margin-bottom:5px; font-size:13px; text-align:left; overflow:hidden;}
.col-md-3 div .readmore{ width:100%; font-size:14px; text-align:right; display:block; clear:both;}
.col-md-3 div .readmore-mid{ margin-top:20px; padding:20px 0 50px; border-top:1px solid #e8e8e8; width:100%; font-size:14px; background:url(images/readmore-mid.png) no-repeat center 58px; text-align:center; text-decoration:none; display:block; clear:both; -webkit-transition:all 0.4s ease; -moz-transition:all 0.4s ease; -o-transition:all 0.4s ease; -ms-transition:all 0.4s ease; transition:all 0.4s ease;}
.col-md-3 div .readmore-mid:hover{ border-top:1px solid #ddd; color:#666 !important; background-color:#f4f4f4;}
.col-md-3 div .active{ padding:50px 0 30px; color:#999 !important; background:url(images/readmore-mid-active.png) no-repeat center 20px;}

/* Notice */
#notice{ height:50px; line-height:50px; background:url(images/bg-notice.png) repeat-x 0 0; overflow:hidden;}
#notice a:link, #notice a:visited{ color:#666;}
#notice a:hover{ color:#333;}
#notice h3{ float:left; padding:0 24px 0 15px; font-size:15px; color:#333; background:url(images/bg-notice-arrow.png) no-repeat right 0;}
#notice h3 a:link, #notice h3 a:visited{ color:#333;}
#notice h3 a:hover{ color:#333;}
#notice ul{ padding-left:15px; overflow:hidden;}
#notice ul li{ float:left; margin-right:30px; padding:0 0 0 20px; max-width:28%; font-size:13px; white-space:nowrap; background:url(images/icon.gif) no-repeat 0 -240px; overflow:hidden;}
#notice ul li:last-child{ margin-right:0; padding:0 0 0 20px;}

/* News */
.row-fluid .content{ margin:0 32% 0 0;}
.row-fluid .column-fluid{ float:left;}
.row-fluid .piclist{ padding-top:10px;}
.newslist ul{ padding-right:10px;}
.newslist ul li{ margin-bottom:6px; padding-left:12px; height:24px; background:url(images/icon.gif) no-repeat 0 11px; overflow:hidden;}
.newslist ul li span{ float:right; color:#bbb;}
.newslist ul li.t{ margin-bottom:15px; padding:0; height:auto; background:none;}
.newslist ul li.t img{ float:left; padding:5px 12px 0 0; width:200px; height:140px;}
.newslist ul li.t h3{ margin-bottom:8px; height:24px; font-size:15px; overflow:hidden;}
.newslist ul li.t p{ line-height:22px; color:#666; overflow:hidden;}
.newslist ul li.t a{ color:#111; display:block;}
.newslist ul li.t a:hover{ color:#f30;}

.row-bar{ float:right; margin-left:-30%; width:30%; font-size:13px; overflow:hidden;}
.row-bar div{ padding-top:5px;}
.row-bar img{ max-width:100%;}
.row-bar p{ margin-top:7px;}
.row-bar p em, .row-bar p i{ font-style:normal; color:#666;}
.row-bar .i_tel, .row-bar .i_fax, .row-bar .i_mail, .row-bar .i_add, .row-bar .i_qq{ padding-left:28px; background:url(images/icon-contact.gif) no-repeat 0 6px;}
.row-bar .i_fax{ background-position:0 -56px;}
.row-bar .i_mail{ background-position:0 -113px;}
.row-bar .i_add{ background-position:0 -174px;}
.row-bar .i_qq{ background-position:0 -234px;}

/* Breadcrumb */
.breadcrumb{ height:80px; line-height:80px; text-transform:uppercase; color:#666; background:#f0f0f0 url(images/bg-breadcrumb.jpg) repeat-x center 0; overflow:hidden; clear:both;}
.breadcrumb a{ color:#666;}
.breadcrumb a:hover{ color:#333; text-decoration:none;}
.breadcrumb h2{ float:left; max-width:56%; color:#666; font-size:28px; font-family:"æ–¹æ­£ç»†åœ†ç®€ä½“"; text-shadow:1px 1px 1px #fff;}
.crumb-box{ float:right; padding-left:18px; max-width:40%; color:#999; background:url(images/icon-hp.png) no-repeat 0 49.5%; opacity:0.7; -moz-opacity:0.7; -khtml-opacity:0.7; filter:alpha(opacity=70);}
.crumb-box i{ padding:0 8px 0 5px; color:#aaa; font-style:normal; font-family:"å®‹ä½“";}
.breadcrumb .crumb-box a{ color:#999;}

.cur-title{ margin-bottom:25px; padding:0 0 6px 20px; font-size:16px; border-bottom:1px solid #e8e8e8; color:#888; background:url(images/icon.gif) no-repeat 0 -200px; text-transform:capitalize; overflow:hidden;}
.cur-title a{ color:#888; text-decoration:none;}
.cur-title span{ padding-left:4px; color:#999;}

/* Archive - Postlist */
.postlist{ padding:0; overflow:hidden;}
.postlist li{ margin:0 auto; padding:0 0 0 15px; height:38px; line-height:38px; border-bottom:1px solid #EEE; background:url(images/icon.gif) no-repeat 0 18px; overflow:hidden;}
.postlist li.nb{ border:none;}
.postlist li a{ float:left; width:85%; font-size:14px;}
.postlist li span{ float:right; width:78px; text-align:right; color:#bbb;}

/* Archive - PicList */
.piclist{ margin-left:-1.83%; overflow:hidden;}
.piclist li{ float:left; margin-bottom:30px; margin-left:1.83%; *margin-left:1.80%; _margin-left:0.935%; width:31.5%; height:auto; overflow:hidden;}
.piclist li .folio-item{ padding:5px; border:1px solid #e9e9e9; -webkit-transition:all 0.4s ease; -moz-transition:all 0.4s ease; -o-transition:all 0.4s ease; -ms-transition:all 0.4s ease; transition:all 0.4s ease;}
.piclist li:hover .folio-item{ border-color:#fdb795;}
.piclist li .folio-thumb{ position:relative;}
.piclist li .folio-thumb img{ width:100%; height:auto; display:block;}
.piclist li h3{ margin-top:8px; width:100%; height:24px; font-size:14px; text-align:center; overflow:hidden; position:relative; z-index:10;}

.piclist li .folio-meta{ margin-top:5px; color:#888; overflow:hidden;}
.piclist li .folio-meta .meta-cat{ float:left; margin-right:70px; height:24px; color:#d6d6d6; overflow:hidden;}
.piclist li .folio-meta .meta-cat a, .piclist li .folio-meta .meta-cat a:hover{ color:#888;}
.piclist li .folio-meta .meta-inquiry{ float:right; margin-left:-70px;}
.piclist li .folio-meta .meta-inquiry a, .piclist li .folio-meta .meta-inquiry a:hover{ width:68px; text-align:center; font-family:Arial; color:#fff; background:#ef8503; display:inline-block; -webkit-transition:all 0.4s ease; -moz-transition:all 0.4s ease; -o-transition:all 0.4s ease; -ms-transition:all 0.4s ease; transition:all 0.4s ease;}
.piclist li .folio-meta .meta-inquiry a:hover{ background-color:#f80; text-decoration:none;}

.piclist-col4{ margin-left:-2%;}
.piclist-col4 li{ margin-left:2%; _margin-left:1%; width:23%;}

/* Archive - Bloglist */
.bloglist{ padding:0; overflow:hidden;}
.bloglist li{ margin:0 auto 30px; padding:0 0 30px; border-bottom:1px solid #eee; color:#666; overflow:hidden;}
.bloglist li .post-thumb{ float:left; padding-right:15px;}
.bloglist li .post-thumb img{ width:240px; height:180px;}
.bloglist li .excerpt{ color:#555;}
.bloglist li:last-child, .bloglist li.nb{ margin:0 auto; border:none;}
.bloglist li h2.title{ margin-bottom:5px; font-weight:700;}
.bloglist li .blog-meta{ margin:0 0 15px -8px; color:#ddd;}
.bloglist li .blog-meta span{ padding:0 8px; color:#999;}
.bloglist li .blog-meta span.date{ padding:0 8px 0 0;}
.blog-meta a:link, .blog-meta a:visited{ color:#999;}
.blog-meta a:hover{ color:#666;}
.bloglist p.readmore{ margin-top:10px; text-align:right;}
.bloglist p.readmore a{ color:#005BB5; text-decoration:underline;}
.bloglist p.readmore a:hover{ color:#444;}

/* Post */
.post{ overflow:hidden;}
.post .post-title{ margin-bottom:8px; padding-bottom:8px; line-height:40px; font-size:28px; text-align:center; border-bottom:1px solid #e9e9e9; color:#333;}
.postmeta{ margin-bottom:25px; color:#999; text-align:center;}
.postmeta a:link, .postmeta a:visited{ color:#999;}
.postmeta a:hover{ color:#666;}
.entry{ font-size:14px; color:#333; overflow:hidden;}
.entry h2, .entry h3, .entry h4, .entry h5, .entry h6{ margin-bottom:15px; padding:0; border:none; background:none; color:#000;}
.entry p{ margin-bottom:20px;}
.entry a:link, .entry a:visited{ color:#009fe9;}
.entry a:hover{ color:#F65E4F;}
.entry img{ margin-bottom:15px; max-width:100%; height:auto;}
.entry ol, .entry ul{ margin:10px 20px;}
.entry ol li{ list-style:decimal;}
.entry ul li{ list-style:disc;}
.entry table{ margin-bottom:15px; color:#666; border-left:1px solid #E4E4E4; border-bottom:1px solid #E4E4E4;}
.entry th{ padding:3px 10px; border-right:1px solid #E4E4E4; border-top:1px solid #E4E4E4; background:#F5F5F5;}
.entry td{ padding:3px 10px; border-right:1px solid #E4E4E4; border-top:1px solid #E4E4E4;}
.alignleft{ float:left; padding-right:10px;}
.alignright{ float:right; padding-left:10px;}
.alignnone, .aligncenter{ float:none; margin-left:auto; margin-right:auto; clear:both;}
.aligncenter{ text-align:center; display:block;}
.wp-caption{margin:10px auto; padding:6px; background:#F6F6F6;border:1px solid #E4E4E4; -khtml-border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;text-align:center;}
.wp-caption img{ max-width:660px;}
.wp-caption p.wp-caption-text{margin:5px 0 0;padding:4px;line-height:20px;color:#666;}

.post .share{ margin:25px auto; padding-top:8px; line-height:28px; border-top:1px solid #e8e8e8; color:#999; text-align:right; clear:both;}
.post .share #sharebtn{ padding-right:6px;}
.post .addthis_sharing_toolbox, .post #bdshare, .post .bdsharebuttonbox{ float:right;}

/* Post - Product */
.product .post-title{ margin-bottom:20px; padding-bottom:5px; font-size:24px; line-height:36px; text-align:left;}
.product .productMeta{ margin-bottom:35px; overflow:hidden;}
.product .product-meta-box{ margin-left:425px; overflow:hidden;}
.product .metaList{ float:left; margin:0 0 0 30px !important;}
.product .metaList li{ padding:7px 0 8px 0; border-bottom:1px solid #EEE; overflow:hidden;}
.product .metaList li strong{ float:left; padding-right:8px; width:130px; text-align:right; font-weight:normal; display:block;}
.product .metaList li.inquiry{ padding:15px 0 5px;}

.product .left{ float:left; width:45%;}
.product .right{ float:right; width:45%;}
.product hr{ margin:60px auto; height:1px; background:#eee;}
.product .share{ margin:35px auto 25px; padding:15px 0 0; border:none; border-top:1px solid #e8e8e8;}
.preview{ float:left; margin-right:-420px; width:420px;}
.preview #wrap{ padding:0;}
.preview #wrap img{ margin-bottom:0; width:400px; height:400px;}

.post ul.thumblist{ float:left; margin:10px 0 0; width:100%; display:block;}
.post ul.thumblist li{ float:left; margin:0; width:25%; text-align:center; overflow:hidden;}
.post ul.thumblist li .thumb-wrap{ float:left; padding:1px; width:80px; border:1px solid #e6e6e6; overflow:hidden;}
.post ul.thumblist li.nomargin{ margin:0 0 0 9px;}
.post ul.thumblist li em{ width:100%; height:6px; font-size:0; overflow:hidden; display:none;}
.post ul.thumblist li img{ margin-bottom:0; padding:1px; width:78px; height:78px; cursor:pointer; vertical-align:middle;}
.post ul.thumblist li .imWrap{ float:left; width:80px; height:80px; text-align:center; display:table-cell; vertical-align:middle; *display:block; *font-size:63px; *font-family:Arial;}

.post ul.thumblist li span{ color:#666;}
.post ul.thumblist li.zoomActive .thumb-wrap{ border:1px solid #f90;}
.post ul.thumblist li.zoomActive span{ color:#C52620;}

.cloud-zoom-lens{ border:2px solid #eee; background:url(images/grid.png) repeat 0 0; cursor:move;}
.cloud-zoom-big{ top:0 !important; width:450px !important; height:300px !important; border:1px solid #e6e6e6; overflow:hidden;}
.cloud-zoom-loading{ padding:3px; border:1px solid #CCC; color:#FFF; background:#222;}

.product-name{ margin-bottom:20px; font-size:28px; line-height:36px; color:#cc8d39;}
.product-summary{ margin-bottom:20px; font-size:13px; color:#555;}
.product-meta{ margin-bottom:15px; font-size:14px; color:#555; overflow:hidden;}
.product-meta p, .product-meta ul li{ margin-bottom:8px;}
.product-meta strong, .product-meta b, .product-meta span.label{ padding-right:15px; width:150px; text-align:right; font-weight:normal; display:inline-block;}
.product-inquiry a, .product-inquiry a:hover{ padding:8px 50px; font-size:20px; font-family:Arial; color:#fff; background:#ef8503; display:inline-block; -webkit-transition:all 0.4s ease; -moz-transition:all 0.4s ease; -o-transition:all 0.4s ease; -ms-transition:all 0.4s ease; transition:all 0.4s ease;}
.product-inquiry a:hover{ background-color:#f80; text-decoration:none;}

#tab-head{ margin-bottom:30px; height:38px; line-height:38px; border-bottom:1px solid #ddd;}
#tab-head span{ padding:0 18px; font-size:14px; color:#666; text-transform:uppercase; display:inline-block; cursor:pointer; -webkit-border-top-left-radius:4px; -moz-border-radius-topleft:4px; border-top-left-radius:4px; -webkit-border-top-right-radius:3px; -moz-border-radius-topright:3px;border-top-right-radius:3px;}
#tab-head span.hov{ border:1px solid #ddd; border-top:2px solid #ef8503; border-bottom:none; font-weight:700; color:#444; background:#fff;}
#tabox .entry{ display:none;}

/* Page */
.post .page-title{ margin-bottom:25px; padding-bottom:8px; line-height:40px; font-size:28px; text-align:center; border-bottom:1px solid #E9E9E9; color:#333;}

/* Page - Inquiry */
#logonTip{ padding:12px 15px; font-size:12px; border:1px solid #e6e6e6; border-bottom:none; background:#f4f4f4;}
#logonTip a{ color:#444; text-decoration:underline;}
#logonTip a:hover{ color:#ef8503;}
#logonTip span{ color:#888;}
#logonTip em{ padding:0 8px; color:#f00; font-style:normal; font-size:12px;}

#inquiryForm .productImg{ margin:0 0 20px 135px; overflow:hidden;}
#inquiryForm .productImg img{ float:left; margin:5px 15px 0 0; padding:3px; width:80px; height:80px; border:1px solid #ddd;}
#inquiryForm .productImg h4{ margin-bottom:5px; font-weight:700; font-size:14px;}
#inquiryForm .productImg p{ margin:0 auto; line-height:20px; font-size:12px; color:#888;}
#inquiryForm .productImg a{ text-decoration:none;}
#inquiryForm .productImg a:hover img{ border:1px solid #fb0;}
#inquiryForm .productImg a:hover h4{ color:#ef8503;}

.wpcf7 p{ margin-bottom:18px; overflow:hidden; clear:both;}
.wpcf7 label{ padding:0 15px 0 0; width:90px; font-size:14px; font-family:Verdana; text-align:right; color:#444; display:inline-block;}
.wpcf7 label.long{ width:auto; text-align:left;}
.wpcf7 label em{ padding:5px 8px 0 0; color:#f00; font-style:normal; font-size:12px;}
.wpcf7 .wpcf7-text, .wpcf7 .wpcf7-captchar{ padding:8px 10px; width:80%; line-height:24px; color:#666; border:1px solid #d8d8d8; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.wpcf7 .wpcf7-captchar{ width:100px;}
.wpcf7 .wpcf7-textarea{ padding:8px 10px; width:80%; height:160px; color:#666; overflow-y:scroll; border:1px solid #d8d8d8; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.wpcf7 .wpcf7-text:hover, .wpcf7 .wpcf7-text:active, .wpcf7 .wpcf7-captchar:hover, .wpcf7 .wpcf7-captchar:active, .wpcf7 .wpcf7-textarea:hover, .wpcf7 .wpcf7-textarea:active{ border:1px solid #f90;}
.wpcf7 .wpcf7-submit{ padding:10px 50px; font-size:20px; font-family:Arial; color:#fff; background:#ef8503; display:inline-block; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; -moz-transition:all 0.4s ease; -o-transition:all 0.4s ease; -ms-transition:all 0.4s ease; transition:all 0.4s ease;}
.wpcf7 .wpcf7-submit:hover, .wpcf7 .wpcf7-submit:active{ background-color:#f80;}

.wpcf7 p.btn-submit span{ float:right; color:#f00;}

.wpcf7 span.wpcf7-not-valid-tip{ margin:0 0 0 -220px; padding-left:20px; background:#fff; display:inline !important;}
.wpcf7 .ajax-loader{ margin:12px 0 0;}
div.wpcf7-mail-sent-ok{ border:1px solid #c2e7c8 !important; color:#008c00; text-align:center;}
div.wpcf7-validation-errors{ padding:0.8em 1em !important; border:1px solid #f7e700 !important; color:#f30; text-align:center;}

#inquiryForm{ padding:40px; border:1px solid #e6e6e6;}
#inquiryForm .wpcf7 label{ width:120px;}

/* Page - Sitemap */
.page-sitemap{ background:#eee;}
.sitemap-box{ margin:25px auto; padding:2%; width:92%; line-height:24px; background:#fff;}
.sitemap-box a:link, sitemap-box a:visited{ color:#333;}
.sitemap-box a:hover{ color:#10579D;}
.sitemap-box h1{ margin-bottom:20px; font-size:20px; text-align:center;}
.sitemap-box h2{ margin:8px auto 15px; padding-bottom:10px; font-size:14px; font-weight:700; border-bottom:1px solid #eee;}
.sitemap-box ul{ margin:10px;}
.sitemap-box ul li{ margin:6px 0 0 18px; list-style:disc; color:#999;}
.sitemap-box ul li ul{ margin:5px 10px 10px;}
.sitemap-box ul li ul li{ margin:3px 0 0 16px; list-style:circle;}
.sitemap-box #breadcrumb, .sitemap-box .archivers, .sitemap-box .full-version, .sitemap-box #footer{ margin-top:20px; padding:6px 15px; border:1px solid #eee; border-top:1px solid #ddd; clear:both;}
.sitemap-box #breadcrumb, .sitemap-box .full-version{ border:1px solid #eee; background:#f8f8f8;}
.sitemap-box .archivers{ padding:5px 15px 15px; overflow:hidden;}
.sitemap-box #footer{ padding:10px; text-align:center;}

/* Pagenavi */
.wpagenavi{ margin:25px auto; padding-top:40px; width:100%; font-size:14px; line-height:48px; border-top:1px solid #e8e8e8; text-align:center;}
.wpagenavi a:link, .wpagenavi a:visited{ margin:0 4px; padding:14px 19px; color:#666; background:#f2f2f2; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; -webkit-transition:background 0.4s ease; -moz-transition:background 0.4s ease; -o-transition:background 0.4s ease; -ms-transition:background 0.4s ease; transition:background 0.4s ease;}
.wpagenavi a:hover, .wpagenavi a:active{ color:#fff; background:#009fe9; text-decoration:none;}
.wpagenavi a.current:link, .wpagenavi a.current:visited, .wpagenavi a.current:hover{ color:#fff; background:#ef8503; font-weight:bold;}

/* Post Navigation */
.post-navi{ padding-top:20px; text-align:center;}
.post-navi a:link, .post-navi a:visited{ padding:2px 9px; border:1px solid #fff; background:#fff;}
.post-navi a:hover{ border:1px solid #E4E4E4; background:#F5F5F5; text-decoration:none;}

/* Prev Next Post */
.post-prev-next{ margin:30px auto; padding-top:10px; border-top:1px solid #e8e8e8; color:#333;}

/* Error404 */
.error404{ max-width:460px; padding:50px 0;}
.error404 h4{ height:32px; line-height:32px; font-size:200%; color:#F00;}
.error404 span{ margin-bottom:25px; color:#666; display:block;}
.error404 ol{ padding:5px 0 5px 20px;}
.error404 ol li{ margin:0 auto; list-style:disc;}
.errorsearch{ margin-top:15px; width:100%; overflow:hidden;}
.errorsearch .searchInput{ float:left; padding:6px 0; width:80%; text-indent:12px; height:24px; line-height:24px; border:1px solid #DDD;}
.errorsearch #searchsubmit{ float:right; width:19%; height:38px; font-size:14px; border:none; color:#fff; background:#666; cursor:pointer;}
.errorsearch #searchsubmit:hover{ background:#333;}

/* Related */
.related{ margin:30px auto 0;}
.related h2{ padding:0 0 6px 20px; font-size:18px; border-bottom:1px solid #e8e8e8; color:#111; background:url(images/icon.gif) no-repeat 0 -200px; text-transform:capitalize; overflow:hidden;}
.related ul.post-list, .related ul.thumb-list{ margin-top:20px; overflow:hidden;}
.related ul.post-list li{ float:left; margin:2px auto; padding-right:5%; width:45%; height:24px; background:url(images/icon.gif) no-repeat 0 10px; overflow:hidden;}
.related ul.post-list li a{ padding-left:15px;}

/* Sidebar */
.sidebar{ float:left; margin-right:-280px; width:280px; color:#666; overflow:hidden;}
.sidebar h3{ padding-left:14px; line-height:36px; font-size:16px; border-top:2px solid #009fe9; border-left:1px solid #e8e8e8; border-right:1px solid #e8e8e8; color:#333; background:#f2f2f2;}
.sidebar h3 a:link, .sidebar h3 a:visited{ color:#333; display:block;}
.sidebar h3 a:hover{ color:#009fe9; text-decoration:none;}
.sidebar ul li{ margin-bottom:20px;}
.sidebar ul li ul{ padding:12px 10px; border:1px solid #e8e8e8; background:#fff; overflow:hidden;}
.sidebar ul li ul li{ margin:4px auto; padding-left:12px; height:24px; background:url(images/icon.gif) no-repeat 0 10px; overflow:hidden;}
.sidebar ul li ul li ul{ border:none;}
.sidebar ul li div{ padding:15px 10px 10px; line-height:28px; border:1px solid #ebebeb; background:#fff; overflow:hidden;}

/* SubList */
.sidebar ul li.widget_nav_menu{ background:#f8f8f8;}
.sidebar ul li.widget_nav_menu div{ padding:0; border:none; background:none;}
.sidebar ul li.widget_nav_menu ul{ padding:12px 0; font-size:14px; background:none;}
.sidebar ul li.widget_nav_menu ul li{ margin:0; padding:0; height:auto; border-top:1px solid #fff; background:none; overflow:hidden;}
.sidebar ul li.widget_nav_menu ul li a:link, .sidebar ul li.widget_nav_menu ul li a:visited{ height:40px; line-height:40px; text-indent:34px; color:#444; background:url(images/icon.gif) no-repeat 0 -375px; display:block; overflow:hidden; -moz-transition:all 0.4s ease; -o-transition:all 0.4s ease; -ms-transition:all 0.4s ease; transition:all 0.4s ease;}
.sidebar ul li.widget_nav_menu ul li a:hover, .sidebar ul li.widget_nav_menu ul li.current-cat a:link, .sidebar ul li.widget_nav_menu ul li.current-cat a:visited, .sidebar ul li.widget_nav_menu ul li.current_page_item a:link, .sidebar ul li.widget_nav_menu ul li.current_page_item a:visited, .sidebar ul li.widget_nav_menu ul a:hover, .sidebar ul li.widget_nav_menu ul li.current-cat a:hover{ color:#ef8503; background:#f7ecdf url(images/icon.gif) no-repeat 0 -335px; text-decoration:none;}

.sidebar ul li.widget_nav_menu ul li ul{ padding:0;}
.sidebar ul li.widget_nav_menu ul li ul li a:link, .sidebar ul li.widget_nav_menu ul li ul li a:visited{ text-indent:50px; background-position:18px -374px;}
.sidebar ul li.widget_nav_menu ul li ul li a:hover{ background-position:18px -334px;}
.sidebar ul li.widget_nav_menu ul li.current_page_item ul li a:link, .sidebar ul li.widget_nav_menu ul li.current_page_item ul li a:visited, .sidebar ul li.widget_nav_menu ul li.current-cat ul li a:link, .sidebar ul li.widget_nav_menu ul li.current-cat ul li a:visited{ color:#444; background-position:0 -377px;}
.sidebar ul li.widget_nav_menu ul li.current_page_item ul li a:hover, .sidebar ul li.widget_nav_menu ul li.current-cat ul li a:hover{ color:#009fe9; background-position:0 -337px;}

/* Search */
.sidebar ul li.widget_search .searchInput{ padding:4px 8px 3px; width:168px; height:24px; line-height:24px; border:1px solid #D6D6D6; color:#666; background:#fff;}
.sidebar ul li.widget_search .searchInput:hover{ border:1px solid #999; color:#666;}
.sidebar ul li.widget_search .searchBtn{ float:right; *float:none; width:60px; height:33px; *line-height:30px; font-size:13px; font-weight:bold; text-align:center; text-indent:0; border:none; color:#fff; background:#666; cursor:pointer; position:static;}
.sidebar ul li.widget_search .searchBtn:hover{ background:#333;}

/* CustomWidgets */
.sidebar ul li.wpyou_widget_SpecialCatList ul{ padding:0;}
.sidebar ul li.wpyou_widget_SpecialCatList ul li{ height:auto; background:url(images/arrow.gif) no-repeat 3px 10px;}
.sidebar ul li.wpyou_widget_SpecialCatList ul li ul li{ line-height:20px; background:url(images/arrow-sub.gif) no-repeat 3px 7px;}

.sidebar ul li.wpyou_widget_SpecialCatPicPosts ul li{ margin-bottom:15px; padding:0 0 15px; height:auto; border-bottom:1px solid #EEE; background:none;}
.sidebar ul li.wpyou_widget_SpecialCatPicPosts ul li img{ float:left; padding-right:10px; width:110px; height:80px;}
.sidebar ul li.wpyou_widget_SpecialCatPicPosts ul li h4{ margin-bottom:5px; height:54px; line-height:18px; font-size:14px; overflow:hidden;}
.sidebar ul li.wpyou_widget_SpecialCatPicPosts ul li p{ color:#666;}

.sidebar ul li.wpyou_widget_SpecialCatBigPicPosts ul li{ margin:0 auto 15px; padding:0; height:auto; text-align:center; background:none;}
.sidebar ul li.wpyou_widget_SpecialCatBigPicPosts ul li img{ width:240px; height:180px;}
.sidebar ul li.wpyou_widget_SpecialCatBigPicPosts ul li h4{ margin-bottom:10px; line-height:18px; font-size:14px; overflow:hidden;}

/* Calendar */
#wp-calendar{ margin:5px auto; width:94%;}
#wp-calendar caption{ padding:5px 0px; font-size:14px;}
#wp-calendar th, #wp-calendar td{ padding:2px 1px; line-height:18px; text-align:center; text-transform:capitalize; color:#555; border:1px solid #E4E4E4; background-color:#F9F9F9;}
#wp-calendar tbody tr td a:link, #wp-calendar tbody tr td a:visited{ font-weight:bold; color:#FF0242;}
#wp-calendar tbody tr td a:hover{ color:#333;}
#wp-calendar tbody tr td:hover{ border:1px solid #D9D9D9; color:#444; background-color:#EEE;}
#wp-calendar tfoot tr td{ padding:8px 10px 0px; border:none; background:none;}
.pad{ border:none !important; background:none !important;}

/* Comments*/
.postComment{ margin:25px auto 0; overflow:hidden;}
#respond{ margin:25px auto 0;}
#addcomment, #comments{ margin-bottom:25px; padding:0 0 6px 20px; font-size:18px; border-bottom:1px solid #CCC; color:#111; background:url(images/icon.gif) no-repeat 0 -200px; overflow:hidden;}
.post_comment ol li{ margin:10px 5px; padding:10px 10px 5px 10px; list-style:none; }
.commentlist{ width:98%; font-size:12px; clear:both;}
.commentlist li{ margin-bottom:15px; padding:6px 0; border:1px solid #E4E4E4;}
.commentlist li.alt{ border:1px solid #E3E7EA; background-color:#F7F8F9;}
.commentlist li.comment-author-admin{ border:1px solid #E4E4E4; background:#fff;}
.commentlist li ul{ margin:10px 10px;}
.commentlist li ul.children{ margin:15px 20px;}
.commentlist li p{ padding:10px 10px 5px;}

.comment-author{ padding:4px 0; width:100%; height:22px; line-height:22px; border-bottom:1px solid #ECECEC;}
.commentlist li.alt .comment-author{ border-bottom:1px solid #E3E7EA;}
.commentlist li.comment-author-admin .comment-author{ border-bottom:1px solid #E3E3E3;}
.commentlist li.alt .comment-author{ border-bottom:1px solid #E8EDF0;}
.avatar{ float:left; padding:1px 1px; width:32px; height:32px; border:1px solid #E0E0E0;}
.author_info{ float:left; padding-left:10px; line-height:16px;}
.author_info cite{ font-style:normal; font-weight:bold;}
.author_info em{ padding-left:10px; font-size:10px; font-style:normal; color:#999;}

.reply{ float:right; margin:-3px 8px 0px 0px;}
#cancel-comment-reply{ float:right; margin-right:10px;}
.reply a, #cancel-comment-reply a{ color:#999 !important;}
.reply a:hover, #cancel-comment-reply a:hover{ color:#1162B3 !important;}

#respond p{ margin:0 auto 15px; overflow:hidden;}
#respond label{ float:left; padding:3px 8px; width:70px; text-align:right; display:block;}
#respond em{ padding-top:5px; color:#F00; font-style:normal; font-weight:normal;}

#author, #email, #url, #comment{ padding:6px; width:50%; border:1px solid #E4E4E4; color:#666;}
#comment{ width:84%; height:150px; font-size:12px; color:#787878; overflow-y:scroll; color:#666;}
#submit{ padding:10px 50px; font-size:20px; font-family:Arial; color:#fff; background:#ef8503; display:inline-block; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; -moz-transition:all 0.4s ease; -o-transition:all 0.4s ease; -ms-transition:all 0.4s ease; transition:all 0.4s ease;}
#submit:hover,#submit:active{ background-color:#f80;}
.comment_navi{ text-align:right; padding:5px 15px; font-size:12px; color:#999;}
.comment_navi a{ color:#999;}

/* FriendLink */
.friendlink{ margin-top:30px; border-top:1px solid #eee; color:#888; overflow:hidden;}
.friendlink ul{ padding:10px 0 0; overflow:hidden;}
.friendlink ul li{ float:left; margin:0 6px; height:24px; white-space:nowrap; overflow:hidden;}
.friendlink ul li.fltitle{ margin:0 4px 4px 0; color:#666;}
.friendlink ul h4{ display:none;}
.friendlink a:link, .friendlink a:visited{ color:#888;}
.friendlink a:hover{ color:#444;}

/* Footer */
.footer{ margin-top:10px; padding:25px 0 0; width:100%; border-top:1px solid #e4e4e4; color:#888; background:#f4f4f4; -moz-box-shadow:0 -3px 3px rgba(0,0,0,.06); -webkit-box-shadow:0 -3px 3px rgba(0,0,0,.06); box-shadow:0 -3px 3px rgba(0,0,0,.06);}
.footer a:link, .footer a:visited{ color:#888;}
.footer a:hover{ color:#444;}

/* Footbar */
.footbar{ padding-bottom:20px; overflow:hidden;}
.footbar h3{ margin-bottom:12px; font-size:15px; color:#222; text-transform:capitalize;}
.footbar h3 a{ color:#222;}
.footbar .widget-column{ float:left; padding-right:2%; width:16%;}
.footbar .widget-column-last{ float:right; padding:0;}
.footbar .widget-column ul, .footbar .widget-column div{ font-size:13px; overflow:hidden;}
.footbar .widget-column ul li{ margin-bottom:4px; overflow:hidden;}
.footbar .wpyou_widget_SpecialCatList ul li, .footbar .widget_categories ul li, .footbar .widget_categories ul li, .footbar .widget_archive ul li{ float:left; padding-right:2%; width:48%;}

.footbar .widget_newsletterwidget form{ margin-top:15px; position:relative;}
.footbar .widget_newsletterwidget form p{ display:block;}
.footbar .widget_newsletterwidget .newsletter-email{ padding:5px 4%; width:92%; line-height:28px; border:1px solid #ccc; color:#888; background:#fff; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.footbar .widget_newsletterwidget .newsletter-submit{ padding:0 15px; height:40px; line-height:40px; color:#fff; background:#999; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; border:none; position:absolute; top:0; right:0; -webkit-transition:background 0.4s ease; -moz-transition:background 0.4s ease; -o-transition:background 0.4s ease; -ms-transition:background 0.4s ease; transition:background 0.4s ease;}
.footbar .widget_newsletterwidget .newsletter-submit:hover, .footbar .widget_newsletterwidget .newsletter-submit:active{ background:#009fe9;}

.footbar .widget-column-sns{ width:24%;}
.footbar .widget-column-sns h2{ margin-bottom:20px; font-size:18px;}
.footbar .widget-column-sns .hotline{ font-size:32px; line-height:32px; color:#555;}
.footbar .widget-column div.social{ padding:25px 0; overflow:visible; position:relative;}
.social a{ margin-right:8px; width:38px; height:38px; text-indent:-9999px; cursor:pointer; background:url(images/icon-sns.png) no-repeat; display:inline-block; -webkit-transition:all 0.4s ease; -moz-transition:all 0.4s ease; -o-transition:all 0.4s ease; -ms-transition:all 0.4s ease; transition:all 0.4s ease;}
.social a:hover{ opacity:0.8; -moz-opacity:0.8; -khtml-opacity:0.8; filter:alpha(opacity=80);}
.social a#i_weibo{ background-position:0 0;}
.social a#i_weixin{ background-position:-53px 0;}
.social #weixin{ padding:10px; text-align:center; background:#333; display:none; position:absolute; left:90px; bottom:0; z-index:99;}
.social #weixin img{ display:block;}
.social a#i_qq{ background-position:-106px 0;}
.social a#i_facebook{ background-position:-159px 0;}
.social a#i_twitter{ background-position:-210px 0;}

.footbar #wp-calendar{ width:94%;}
.footbar #wp-calendar th, .footbar #wp-calendar td{ border:1px solid #393939; background:none;}
#wp-calendar tbody tr td a:link, #wp-calendar tbody tr td a:visited{ font-weight:bold; color:#F30;}
#wp-calendar tbody tr td a:hover{ color:#eee;}
.footbar #wp-calendar tbody tr td:hover{ border:1px solid #444; color:#eee; background-color:#444;}

.footbar .widget-column i{ padding:0 10px 0 0; width:12px; height:24px; background:url(images/icon-map.png) no-repeat 0 8px; vertical-align:text-bottom; display:inline-block;}

/* Copyright */
.logo-foot{ float:left;}
.copyright{ padding:15px 0; color:#fff; background:#009fe9; overflow:hidden;}
.copyright a:link, .copyright a:visited{ color:#fff;}
.copyright a:hover{ color:#fff; opacity:1; -moz-opacity:1; -khtml-opacity:1; filter:alpha(opacity=100);}
.copyright .cp{ float:right; opacity:0.8; -moz-opacity:0.8; -khtml-opacity:0.8; filter:alpha(opacity=80);}

/* CustomerService */
.cs-div{ width:140px; height:auto; text-align:center; position:absolute; z-index:99999; overflow:hidden;}
.cs-div #cs-close{ float:right; width:32px; height:35px; text-indent:-9999px; display:block; cursor:pointer; position:absolute; top:0; right:0;}
.cs-bar{ padding:0; width:32px; height:116px;}
.cs-bar #cs-close{ width:32px; height:116px; background:url(images/cs.gif) no-repeat -106px 0; top:0; right:0;}
.cs-inner{ padding:60px 5px 0 10px; background:url(images/cs.gif) no-repeat 0 -120px; display:none;}
.cs-inner img{ margin-bottom:10px;}
.cs-btm{ width:100%; height:15px; background:url(images/cs.gif) no-repeat 0 bottom;}

/* Backtop */
.backToTop{ width:46px; height:44px; background:#999 url(images/backtop.gif) no-repeat 7px 11px; position:fixed; _position:absolute; right:20px; bottom:40px; _bottom:"auto"; cursor:pointer; display:none; -khtml-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px; z-index:9999;}
.backToTop:hover{ background-color:#666;}

/****  Responsive CSS  ****/
@media only screen and (max-width:1024px){
    .inner{ width:980px;}
}

@media only screen and (min-width:768px) and (max-width:959px){
    .inner{ width:98%;}
    .inner .inner{ width:100%;}
    .subnav{ display:none;}
    .pinned{ width:98%;}
    .navi li{ padding:0 6px;}
    .navi li a:link, .navi li a:visited{ padding:0 6px;}
    .slidebanner{ width:100%; height:auto;}
    #slideshow li, #slideshow li img{ width:100%; height:auto;}
    .bx-pager{ display:none;}
    .container, .content{ float:none; margin:0 auto;}
    .row-fluid .content{ margin:0 51% 0 0; border:none;}
    .newslist ul li.t img{ width:120px; height:auto;}
    .newslist ul li.t p{ max-height:70px;}
    .row-bar{ margin-left:-48%; width:48%;}

    .row-scroll .bx-controls a{ display:none;}
    .pic-scroll-list .slide{ width:48%;}
    .postlist li a{ float:none; width:100%;}
    .piclist{ margin-left:-3%;}
    .piclist li{ margin-left:3%; width:47%;}

    .preview{ margin-right:-340px; width:340px;}
    .preview #wrap img{ width:320px; height:320px;}
    .product .product-meta-box{ margin-left:345px;}
    .post ul.thumblist li .thumb-wrap{ width:60px;}
    .post ul.thumblist li.nomargin{ margin:0 0 0 9px;}
    .post ul.thumblist li img{ width:58px; height:58px;}
    .post ul.thumblist li .imWrap{ width:60px; height:60px;}

    .sidebar{ display:none;}
    .footbar .widget-column{ margin-bottom:25px; padding:0 2%; width:46%;}
    .footbar .widget_newsletterwidget .newsletter-submit{ right:-1px;}
    .footbar .widget-column-last{ float:left;}
    .logo-foot{ display:none;}
    .copyright .cp{ float:none;}
    .copyright .sharebox, .cs-div, .backToTop{ display:none;}
}

@media only screen and (max-width:767px){
    .inner{ width:98%;}
    .inner .inner{ width:100%;}
    .header{ margin:0 auto; padding:0;}
    .header .inner{ width:100%;}
    .logo{ float:none; margin:0 50px; text-align:center; position:relative; z-index:10;}
    .logo img{ height:60px; display:inline;}
    .topbar{ display:none;}
    .btn-search{ display:none;}
    #mobile-nav{ width:100%; height:50px; line-height:50px; background:#009fe9; display:block; position:relative;}
    #mobile-nav a{ width:50px; height:100%; background-image:url(images/icon-mo.png); background-repeat:no-repeat; display:inline-block; position:absolute; top:0; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; opacity:0.8;}
    #mobile-nav #mobile-menu{ background-position:center 16px; left:0;}
    #mobile-nav #mobile-so{ background-position:center -24px; right:0;}
    #mobile-nav a.active{ -moz-opacity:0.8; -khtml-opacity:0.8;;}

    .toggle-search{ width:100%;}
    .toggle-search #searchform{ margin:0 8%; width:84%;}
    .toggle-search #searchform #searchsubmit{ right:-1px;}

    .nav-container, .main-menu{ width:100%;}
    .nav-container .radius{ border-radius:0; -moz-border-radius:0; -webkit-border-radius:0;}
    .main-menu{ margin:0 auto; width:100%; line-height:40px; font-size:16px; border-top:2px solid #ef8503; display:none; top:59px;}
    .main-menu .inner{ width:100%;}
    .navi{ background:#e4e4e4;}
    .navi li{ float:none; width:100%; padding:0; border-bottom:1px solid #ddd; border-top:1px solid #e9e9e9;}
    .navi li:first-child{ border-top:none;}
    .navi li a, .navi li a:link, .navi li a:visited{ padding:4px 15px; color:#333;}
    .navi li a:hover{ color:#fff; background:#009fe9; border-bottom:none;}

    .navi li ul{ position:static; padding:0; width:100%; border-bottom:none; background:none;}
    .navi li ul li{ border:none; background:none; border-bottom:1px solid #262626;}
    .navi li ul li.litop{ display:none;}
    .navi li ul li a:link, .navi li ul li a:visited{ padding:0 0 0 35px; color:#bbb; background:none;}
    .navi li ul li a:hover, .navi li:hover ul li a:hover{ color:#fff; background:#404040;}
    .navi li.current-menu-item ul li a:link, .navi li.current-menu-item ul li a:visited, .navi li.current-post-parent ul li a, .navi li.current-post-ancestor ul li a, .navi li.current-menu-parent ul li a, .navi li.current-category-ancestor ul li a, .navi li:hover ul li a{ background:none;}
    .navi li.current-menu-item a:link, .navi li.current-menu-item a:visited, .navi li.current-post-parent a, .navi li.current-post-ancestor a, .navi li.current-menu-parent a, .navi li.current-category-ancestor a, .navi li:hover a{ color:#fff; background:#009fe9;}
    .slidebanner{ width:100%; height:auto;}
    #slideshow li{ width:100%; height:auto;}
    #slideshow li img{ width:100%; height:auto; min-height:inherit;}
    .bx-pager{ display:none;}

    .container, .content{ float:none; margin:0 auto;}
    .container-hp{ padding:0;}

    .row-fluid .column-fluid{ float:none;}
    .row-fluid .content{ float:none; margin:0 auto; padding:0; width:100%;}
    .row-fluid h2 i{ text-align:center;}
    .col-md-3 div em, .col-md-3 div i, .col-md-3 div span{ width:auto;}
    .newslist ul li.t img{ width:120px; height:auto;}
    .newslist ul li.t p{ max-height:70px;}

    .row-scroll .bx-controls a{ display:none;}
    .pic-scroll-list .slide{ width:48%;}
    .col3 p img{ padding:0 !important;}
    .row-bar{ float:none; margin:30px auto 0; width:100%;}

    .banner, .crumb-box, .sidebar{ display:none;}
    .breadcrumb h2{ float:none; width:100%; text-align:center;}
    .postlist li a{ width:100%;}
    .piclist{ margin-left:-4%;}
    .piclist li{ margin-left:4%; width:46%;}
    .post .page-title{ display:none;}
    .entry{ font-size:16px; line-height:32px;}
    .entry p{ margin-bottom:20px;}

    .preview{ margin-right:-340px; width:340px;}
    .preview #wrap img{ width:320px; height:320px;}
    .product .product-meta-box{ margin-left:345px;}
    .post ul.thumblist li .thumb-wrap{ width:60px;}
    .post ul.thumblist li.nomargin{ margin:0 0 0 9px;}
    .post ul.thumblist li img{ width:58px; height:58px;}
    .post ul.thumblist li .imWrap{ width:60px; height:60px;}

    .related ul.post-list li{ float:none; width:95%;}

    #inquiryForm .productImg{ margin:0 0 20px 0; overflow:hidden;}

    .wpcf7 label, #inquiryForm .wpcf7 label{ padding:0; width:98%; text-align:left;}
    .wpcf7 .wpcf7-textarea, #inquiryForm .wpcf7 .wpcf7-textarea, wpcf7 .wpcf7-text, .wpcf7 .wpcf7-captchar{ padding:10px 2%; width:95%;}
    .wpcf7 p.btn-submit label{ display:none;}
    .wpcf7 .wpcf7-submit{ padding:10px 2%; width:96%; display:block;}

    .wpagenavi a:link, .wpagenavi a:visited, .wpagenavi a:hover{ display:none;}
    .wpagenavi a.next, .wpagenavi a.previous{ padding:8px 60px; font-size:20px; color:#fff; background:#009fe9; display:inline-block;}

    .long-bar{ display:none;}
    .footbar .widget-column{ margin-bottom:25px; padding:0 2%; width:46%;}
    .footbar .widget-column-last{ float:left;}
    .footbar .widget_newsletterwidget .newsletter-submit{ right:-1px;}
    .logo-foot{ display:none;}
    .copyright .cp{ float:none;}
    .copyright .sharebox, .cs-div, .backToTop{ display:none;}
}

@media only screen and (max-width:480px){
    .subnav{ display:none;}
    .col-md-3 div{ float:none; margin-bottom:25px; padding:0 2%; width:96%;}
    .col-md-3 div:last-child{ margin-bottom:0;}
    .col-md-3 div em, .col-md-3 div i, .col-md-3 div span{ width:120px;}
    .col-md-3 div .readmore{ text-align:center;}
    /*.pic-scroll-list .slide{ width:96%;}*/
    .piclist{ margin-left:0;}
    .bloglist li .post-thumb{ display:none;}
    /*.related li{ float:none; width:95%;}*/

    .preview{ float:none; margin-right:0; width:100%;}
    .preview #wrap img{ width:100%; height:auto;}
    .product .product-meta-box{ float:none; margin:30px 0 0 0; clear:both;}
    .post ul.thumblist{ float:none;}
    .post ul.thumblist li .thumb-wrap{ float:none; width:60px;}
    .post ul.thumblist li.nomargin{ margin:0 0 0 9px;}
    .post ul.thumblist li img{ width:58px; height:58px;}
    .post ul.thumblist li .imWrap{ width:60px; height:60px;}
    #tab-head{ height:78px; background:#f4f4f4;}
    #tab-head span{ padding:0; width:48%; text-align:center;}

    .share, .friendlink{ display:none;}
    .footbar .widget-column{ width:96%;}
}