<!-- Header begin -->
<header class="header"><div class="inner">
    <!-- Logo begin -->
    <h1 class="logo fadeInLeft wow"><a href="http://www.trandomed.com/" rel="home"><img src="/images/cmplogo.png" alt="创导科技"></a></h1>
    <nav class="main-menu radius">
        <ul id="menu-headermenu" class="navi"><li id="menu-item-9" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-9"><a href="#/">首页</a></li>
            <li id="menu-item-12" class="mp menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12"><a href="#/products/">产品</a></li>
            <li id="menu-item-13" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-13"><a href="#/news/">新闻动态</a></li>
            <li id="menu-item-10" ng-mouseenter="showAllAboutUs('true')" ng-mouseleave="showAllAboutUs('false')" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-10"><a href="#/about/about_us">关于我们</a>
                <div class='ul-div' ng-style="aboutUSStyle"><i></i>
                    <ul>
                        <li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="#/about/about_intro">公司介绍</a></li>
                        <li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26"><a href="#/about/about_team">团队介绍</a></li>
                        <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25"><a href="#/about/about_hire">招贤纳士</a></li>
                        <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24"><a href="#/about/about_contact">联系我们</a></li>
                    </ul>
                </div><!--flare -->
            </li>
        </ul>            	<!-- MenuProduct begin -->
        <!--<div id="product-box" class="ul-div" style="display: block;"><i></i>-->
            <!--<div class="product-menu">-->
                <!--<div><a href="http://www.trandomed.com/products/1"><img src="/uploads/products/1.jpg" alt="">产品1</a></div>-->
                <!--<div><a href="http://www.trandomed.com/products/2"><img src="/uploads/products/2.jpg" alt="">产品2</a></div>-->
                <!--<div><a href="http://www.trandomed.com/products/3"><img src="/uploads/products/3.jpg" alt="">产品3</a></div>-->
                <!--<div><a href="http://www.trandomed.com/products/4"><img src="/uploads/products/4.jpg" alt="">产品4</a></div>-->
            <!--</div>-->
        <!--</div>-->
        <!-- MenuProduct end -->
    </nav>

</div>
</header>
<!-- Header end -->
<!-- MainMenu begin -->
<div id="mobile-nav">
    <a id="mobile-menu"></a>
    <a id="mobile-so"></a>
</div>
<div class="inner toggle-search">
    <a class="btn-search"></a>
    <div class="search-box">
        <form method="get" id="searchform" action="http://www.speedymaker.cn/">
            <input type="text" placeholder="输入关键字" name="s" id="ls" class="searchInput" x-webkit-speech />
            <input type="submit" id="searchsubmit" title="搜索" value="搜索"/>
        </form>
    </div>
</div>
<!-- MainMenu end -->